.services {
  padding: 2rem 2rem;
  text-align: center;
  h1, h3{
      h1{
        font-size: 2rem;
      }
      margin-bottom: 1rem;
      font-weight: 400;
    }

  .service-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 12rem;
    max-width: 1200px;
    margin: auto;
  }

  .service {
    flex: 1;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .icon{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }

  .btn {
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  .btn:hover {
    transform: scale(1.05);
    background: var(--hover-color);
  }
}
