:root {
    --primary-color: #6E8BFA;
    --secondary-color: #d8d8d8;
    --overlay-color: rgba(0, 0, 0, 0.3);
    --text-color: #333;
    --colornav: rgba(117, 144, 253, 0.959);
    --carousel-max-width: 70%;
    --button-size: 40px;
    --border-radius: 8px;
    --spacing-md: 2rem;
    --spacing-sm: 0.5rem;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --cardscolor: #ffffff28;
    --hover-color: #4a6dfa;
    --colorfooter: #1e3a5f;
    --cardscolor2: #ffffff65;
}
